<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="jquery.min.js" charset="utf-8"></script>
</head>

<body>

    <form id="checkinfo">
        qid:
        <input type="text" name="qid" /> utype:
        <select name="utype">
            <option value="">不选中</option>
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
        category:
        <select name="category">
            <option value="">不选中</option>
            <option value="api.request_server">api.return</option>
            <option value="api.post">api.post</option>
            <option value="api.return">api.return</option>
        </select>
        cmuid:
        <input type="text" name="cmuid" /> cmuuid:
        <input type="text" name="cmuuid" />
        <button type="button" name="button">确定</button>
    </form>
    <script type="text/javascript">
        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            var empty = true;
            $.each(a, function(key, val) {
              (val.value || val.value === 0) && (o[val.name] = val.value) && (empty = false);
            });
            return {
              data: o,
              empty: empty
            };
        };
        $('button').click(function() {
            var data = $('#checkinfo').serializeObject();
            if(data.empty){
              alert("请重新输入");
            }
            else{
              $.post("/Log", data.data, function(data, status) {
                  console.log(data);
              });
            }


        });
    </script>

</body>

</html>
